
@font-face {
    font-family:"Neoneon";
    src:url("Neoneon.woff2") format("woff2"),url("Neoneon.woff") format("woff"),url("Neoneon.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        